services:
  neo4j:
    image: neo4j:5
    ports:
      - "7474:7474"
      - "7687:7687"
    environment:
      - NEO4J_AUTH=neo4j/password
      - NEO4J_dbms_security_allow__csv__import__from__file__urls=true
    volumes:
      - ./data/import:/var/lib/neo4j/import
